*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    /* color: white; */
    height: 10vh;
    background-color: #323443;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.options a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin: 0px 35px;
} 
.options a:hover{
    
    color: red;
}
.logo{
    width: 20%;
    height: 100%;
}

.footer{
        /* color: white; */
        height: 10vh;
        background-color: #323443;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
}
.icon_container{
    display: flex;
    width: 20%;
    justify-content: space-around;

}
.icons{
    /* color: white; */
    width: 40px;
    height: 40px;
    
}
.icons:hover{
    
    opacity: 0.5;
    cursor: pointer;
}
.icons img{
    width: 100%;
    height: 100%;
}
